@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
}

#title {
    color: #ecdec9;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: #bb9a6f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}

nav {
    position: fixed;
    height: 16.8rem;
    left: 1.25rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #ecdec9;
    padding: 0.8rem 0.6rem;
    border-radius: 1.8rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #3e2d1e;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: 0.2s all ease;
}

nav ul li a div {
    text-decoration: none;
    color: #ecdec9;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: 0.2s all ease;
}

nav ul li a svg {
    width: 1.8rem;
    height: 3.7rem;
}

nav ul li a svg path {
    transition: 0.2s all ease;
}

nav ul li a span {
    position: absolute;
    background-color: #ecdec9;
    padding: 0.1rem 0.9rem;
    border-radius: 1.8rem;
    margin-left: 1.25rem;
    font-weight: 500;
    font-size: 0.9rem;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;
}

nav ul li a.active span,
nav ul li a:hover span {
    opacity: 1;
    visibility: visible;
    margin-left: 3rem;
}

nav.active ul li a span {
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

nav.active ul li a:hover span {
    margin-left: 0;
}

.search-container {
    padding: 1.25rem;
}

.search-container form {
    width: 100%;
    border: 0.14rem solid rgb(63, 36, 4);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #bb9a6f;
}

.search-container form input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.625rem;
    background-color: #bb9a6f;
}

.container {
    margin-top: 0.625rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-bottom: 0%;
}

.dog-card {
    width: 14.6rem;
    height: 24rem;
    background-color: #ecdec9;
    border-radius: 1rem;
    padding: 4rem 2rem 0;
    color: #ecdec9;
    overflow-y: hidden;
    margin-bottom: auto;
}

.card__img {
    position: absolute;
    width: 11rem;
    border-radius: .2rem;
}

.dog-card-data {
    transform: translateY(13.2rem);
    text-align: center;
}

.dog-name {
    font-size:  1.5rem;
    color: #3e2d1e;
}

.dog-id {
    font-size: 1.2rem;
    color: #3e2d1e;
}

.dog-age,
.dog-sex {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3e2d1e;
}

.card__description {
    font-size: 1rem;
    color: #3e2d1e;
    text-align: initial;
    margin-bottom: .5rem;
    opacity: 0;
}

.card__button {
    display: block;
    width: max-content;
    padding: 1.125rem 2rem;
    background-color: #3e2d1e;
    color: #ecdec9;
    border-radius: .5rem;
    font-weight: 500;
    transition: .2s;
    opacity: 0;
}

.card__img,
.dog-card-data,
.dog-name,
.dog-age,
.dog-sex,
.dog-id,
.card__description {
    transition: .5s;
}

.dog-card:hover .card__img {
    transform: translate(-.1rem, -9.5rem);
}

.dog-card:hover .dog-card-data {
    transform: translateY(4.8rem);
}

.dog-card:hover .dog-name {
    transform: translateX(-.3rem);
}

.dog-card:hover .dog-age {
    transform: translateX(-2.8rem);
}

.dog-card:hover .dog-sex {
    transform: translateX(-2.8rem);
}

.dog-card:hover .dog-id {
    transform: translateX(-2.8rem);
}

.dog-card:hover .card__description,
.dog-card:hover .card__button {
    transition-delay: .2s;
    opacity: 1;
}