@import url('global.css');
@import url('components/_navigator.css');
@import url('components/_search.css');
@import url('components/_card.css');
@import url('components/_container.css');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
}