@import url('global.css');
@import url('components/_navigator.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-brown);
    align-items: center;
}

#subtitle {
    text-align: center;
}

body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--brown);
    display: flex;
    flex-direction: column;
}

.card {
    background-color: var(--white);
    text-align: center;
    box-shadow: 0 0.25rem 1.3rem 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0.6rem;
    width: 23%;
    margin: 0 auto;
    margin-top: 5.4rem;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.usercontainer {
    padding: 0.6rem 0.3rem;
}

.container {
    margin: 0 auto;
    margin-top: 1.25rem;
    width: 40%;
    background-color: var(--white);
    padding: 3.75rem 1.8rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
    font-size: 1rem;
    display: flex;
    margin-bottom: 1.25rem;
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.25rem 0 0.75rem 0;
    text-align: center;
}

form .user-details .input-box {
    margin-bottom: 2.1rem;
    width: calc(100% / 2 - 35px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.user-details .input-box input {
    height: 2.8rem;
    width: 90%;
    text-align: center;
    outline: none;
    font-size: 1rem;
    border-radius: 0.4rem;
    padding-left: 0.6rem;
    border: 1px solid var(--light-brown);
    border-bottom-width: 0.125rem;
    transition: all 0.3s ease;
}

.user-details .input-box-number input {
    margin-top: -0.4rem;
    height: 2.8rem;
    width: 70%;
    text-align: center;
    outline: none;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 0.063rem solid var(--light-brown);
    border-bottom-width: 0.125rem;
    transition: all 0.3s ease;
}

.details-age {
    display: flex;
    justify-content: space-between;
    margin-top: -2.5rem;
    margin-left: 8.4rem;
    margin-bottom: 0.8rem;
    text-align: center;

}

.user-details .input-box input:focus {
    border-color: var(--dark-brown);
}

form .category {
    display: flex;
    width: 80%;
    margin: 0.8rem 0;
}

form .category label {
    display: flex;
    align-items: center;
    padding-left: 3%;
    cursor: pointer;

}

form .category label .dot {
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    margin-right: 0.3rem;
    background: var(--light-brown);
    border: 0.18rem solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three,
#dot-4:checked~.category label .four,
#dot-5:checked~.category label .five,
#dot-6:checked~.category label .six,
#dot-7:checked~.category label .seven,
#dot-8:checked~.category label .eight {
    background: var(--dark-brown);
    border-color: var(--light-brown);
}

form input[type="radio"] {
    display: none;
    justify-content: space-between;
}

#envioCaes {
    height: 4.3rem;
    width: 100%;
    border-radius: 0.4rem;
    border: none;
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    cursor: pointer;
    transition: all 0.3s ease;
    background: var(--dark-brown);
}


@media(max-width: 36.5rem) {
    .container {
        max-width: 100%;
        flex-direction: column;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 18.75rem;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 0.3rem;
    }
}

@media(max-width: 28.6rem) {
    .container .content .category {
        flex-direction: column;
    }
}
.input-button-form{
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    background: #3e2d1e;
    color: #ffffff;
    border-radius: 0.75rem;
    outline: none;
    border-color: #3e2d1e;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    display: flex;
    margin-top: 0.6rem;
    margin-bottom: 1.5rem;
}